Language: Cpp
ColumnLimit: 80
IndentWidth: 4
#UseTab: Always
AlignArrayOfStructures: Left
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AlignEscapedNewlines: DontAlign
AllowShortBlocksOnASingleLine: Empty
IndentPPDirectives: BeforeHash
AllowShortFunctionsOnASingleLine: None
